---
import * as prismicH from '@prismicio/helpers';
import Layout from '../../layouts/Layout.astro';

import { getAllSponsors } from '../../lib/prismicio';
import { SponsorDocument } from '../../../types.generated';

export async function getStaticPaths() {
  const allPages = await getAllSponsors();

  const paths = allPages.map((page) => ({
    params: { uid: page.uid },
    props: page,
  }));
  return paths;
}

const sponsor = Astro.props as SponsorDocument;

const descriptionHTML = prismicH.asHTML(sponsor.data.description);
---

<Layout
  title={`${sponsor.data.name} - Guest Speaker - Holiday Snowtacular`}
  description={`${sponsor.data.name} is sponsoring the 2022 Holiday Snowtacular in an effort to raise $20,000 for Doctors Without Borders!`}
>
  <main>
    <h1>{sponsor.data.name}</h1>
    <img src={sponsor.data.logo.url} alt="" />
    <Fragment set:html="descriptionHTML" />

    {
      prismicH.isFilled.link(sponsor.data.link) && (
        <p>
          <a href={sponsor.data.link.url}>Visit Site</a>
        </p>
      )
    }
  </main>
</Layout>

<style></style>
