---
import * as prismicH from '@prismicio/helpers';
import { CharityDetailsSlice } from '../../types.generated';

const slice = Astro.props.slice as CharityDetailsSlice;

const bodyHTML = prismicH.asHTML(slice.primary.body);
---

<section aria-labelledby="charity-heading" class="charity">
  <header>
    <span class="heading-eyebrow">{slice.primary.eyebrow}</span>
    <h2 id="charity-heading" class="charity-heading">
      {slice.primary.heading}
    </h2>
  </header>

  <div class="description-area">
    <img
      src={slice.primary.charityLogo.url}
      alt="Doctors without Borders"
      class="charity-logo"
    />
    <p class="subheading">{slice.primary.subheading}</p>
    <Fragment set:html="bodyHTML" />
  </div>

  <div>
    <div class="footer-container">
      <p class="fundraiser-question">
        {slice.primary.questionText}{' '}
        <span class="fundraiser-amount">
          {slice.primary.fundraiserAmount}
        </span>
      </p>
      <div class="impact-container">
        {
          slice.items.map(({ number, text }) => (
            <div class="impact-item">
              <p class="impact-text">
                <span class="impact-number">{number}</span>
                <span>{text}</span>
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import '../styles/mixins.scss';

  .charity-heading {
    margin-bottom: var(--space-m);
    display: block;
  }

  .charity-logo {
    max-width: 500px;
    margin-bottom: var(--space-l);
    @include forced-colors-background();
  }

  .description-area {
    margin-bottom: var(--space-xl);
  }

  .subheading {
    font-weight: 700;
    margin-bottom: var(--space-2xs);
  }

  .footer-container {
  }

  .fundraiser-amount {
    display: block;
    font-size: var(--step-5);
    color: var(--accent);
    font-weight: 700;
    margin-bottom: var(--space-s);
  }

  .impact-container {
    --min: 20ch;
    --gap: var(--space-m);

    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));

    font-size: var(--step--1);
  }

  .impact-text {
    font-size: var(--step--1);
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    font-weight: 500;
    > * {
      display: block;
    }
  }

  .impact-number {
    font-size: var(--step-5);
    color: var(--accent);
    font-weight: 700;
  }
</style>
