---
import * as prismicH from "@prismicio/helpers";
import { getAllCommunitySponsors } from "../lib/prismicio";

import { CommunityListSlice } from "../../types.generated";

const props = Astro.props as CommunityListSlice;

const { heading, body, eyebrow } = props.primary;

const communities = await getAllCommunitySponsors();

const bodyHTML = prismicH.asHTML(body);
---

<section id="communities" class="communities">
  <span class="heading-eyebrow">{eyebrow}</span>
  <h2>{heading}</h2>

  <Fragment set:html="bodyHTML" />

  <ul class="community-grid">
    {
      communities.map((community) => (
        <li class="community">
          <a href={`/community/${community.uid}`}>
            <img src={community.data.logo.url} alt={community.data.title} />
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
    .communities {
      .community-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
        grid-gap: 1rem;
      }

      h3 {
        margin-block-start: 3rem;
      }

      .community {
        position: relative;
        background: rgba(0, 0, 0, 0.25);
        padding-block: 0.5rem;
        padding-inline: 1rem;
        display: grid;
        place-content: center;
        transition: background 0.2s ease;
        border-radius: 0.25rem;
        &:hover {
          background: rgba(0, 0, 0, 0.3);
        }
        a {
          &::before {
            content: "";
            position: absolute;
            inset: 0;
          }
        }
        img {
          display: block;
          max-width: 100%;
          padding: 0;
          margin: 0;
          width: auto;
          height: 100px;
          object-fit: contain;
        }
      }
    }

</style>
