---
import * as prismicH from "@prismicio/helpers";
import { getAllGuests } from "../lib/prismicio";
import GuestAvatar from "./GuestAvatar.astro";

const { heading, body } = Astro.props.primary;

// Fetch guests and map to order from CMS
const allGuests = await getAllGuests();

const bodyHTML = prismicH.asHTML(body);
---

<section id="guests" class="guests">
  <h2>{heading}</h2>

  <Fragment set:html="bodyHTML" />

  <div class="guest-grid">
    {
      allGuests.map((guest) => (
        <div class="guest">
          <GuestAvatar avatar={guest.data.avatar} guestName={guest.data.name} />
          <h3><a href={`/guest/${guest.uid}`}>{guest.data.name}</a></h3>
          <p>{guest.data.company}</p>
        </div>
      ))
    }
  </div>
</section>
