---
import * as prismicH from '@prismicio/helpers';
import { getAllGuests } from '../lib/prismicio';
import GuestAvatar from './GuestAvatar.astro';
import { GuestListSlice } from '../../types.generated';

const props = Astro.props as GuestListSlice;

const { heading, body, eyebrow } = props.primary;

// Fetch guests and map to order from CMS
const allGuests = await getAllGuests();

const bodyHTML = prismicH.asHTML(body);
---

<section id="guests" class="guests">
  <span class="heading-eyebrow">{eyebrow}</span>
  <h2>{heading}</h2>

  <Fragment set:html="bodyHTML" />

  <div class="guest-grid">
    {
      allGuests.map((guest) => (
        <div class="guest">
          <GuestAvatar avatar={guest.data.avatar} guestName={guest.data.name} />
          <h3>
            <a href={`/guest/${guest.uid}`}>{guest.data.name}</a>
          </h3>
          <span class="company">{guest.data.company}</span>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  .guests {
    .guest-grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    }
    .guest {
      align-items: center;
      display: flex;
      flex-flow: column;
      position: relative;
      > * + * {
        margin-block-start: var(--space-2xs);
      }
      img {
        aspect-ratio: 1;
        border-radius: 100%;
        width: 100%;
      }
      h3 {
        font-family: var(--body-font);
        font-size: var(--step--1);
        text-align: center;
        a {
          color: var(--body-color);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
          &::before {
            content: "";
            position: absolute;
            inset: 0;
          }
        }
      }
      .company {
        color: var(--accent);
        font-size: var(--step--1);
        text-align: center;
      }
    }
  }
</style>
