---
import * as prismicH from '@prismicio/helpers';
import { getAllGuests } from '../lib/prismicio';
import GuestAvatar from './GuestAvatar.astro';
import { GuestListSlice } from '../../types.generated';

const slice = Astro.props.slice as GuestListSlice;

// Fetch guests and map to order from CMS
const allGuests = await getAllGuests();

const bodyHTML = prismicH.asHTML(slice.primary.body);
---

<section id="guests" aria-labelledby="guests-heading" class="guests">
  <header>
    <span class="heading-eyebrow">{slice.primary.eyebrow}</span>
    <h2 id="guests-heading">{slice.primary.heading}</h2>
  </header>

  <div>
    <Fragment set:html="bodyHTML" />
    <div class="guest-grid">
      {
        allGuests.map((guest) => (
          <article class="guest">
            <GuestAvatar guest={guest} />
            <a class="name" href={`/guest/${guest.uid}`}>
              {guest.data.name}
            </a>
            <span class="company">{guest.data.company}</span>
          </article>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  .guests {
    .guest-grid {
      display: grid;
      gap: var(--space-m);
      grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    }
    .guest {
      align-items: center;
      display: flex;
      flex-flow: column;
      gap: var(--space-3xs);
      position: relative;
      @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.2s ease-in-out;
      }
      &:hover {
        transform: scale(1.07);
      }
      > * + * {
        margin-block-start: var(--space-2xs);
      }
      img {
        aspect-ratio: 1;
        border-radius: 100%;
        width: 100%;
      }
      .name {
        &::after {
          content: '';
          position: absolute;
          inset: 0;
        }
      }
      .company {
        color: var(--header-font-color);
        font-size: var(--step--1);
        text-align: center;
        margin: 0;
      }
    }
  }
</style>
