---
import * as prismicH from "@prismicio/helpers";
import { getAllGuests } from "../lib/prismicio";
import GuestAvatar from "./GuestAvatar.astro";

const slice = Astro.props;

// Fetch guests and map to order from CMS
const allGuests = await getAllGuests();

const guestOrder = slice.items;

const sortedGuests = guestOrder.map((guestToFind) =>
  allGuests.find(({ id }) => id === guestToFind.guest.id)
);

const body = prismicH.asHTML(slice.primary.body);
---

<div>
  <h2>{slice.primary.heading}</h2>

  <Fragment set:html="body" />

  <div>
    {
      sortedGuests.map((guest) => (
        <div>
          <h3>{guest.data.name}</h3>
          <GuestAvatar avatar={guest.data.avatar} guestName={guest.data.name} />

          <a href={`/guest/${guest.uid}`}>View Details</a>
        </div>
      ))
    }
  </div>
</div>
