---
import { Image, Picture } from '@astrojs/image/components';
import Present from '../../public/images/header_elements/present.png';
import Bell from '../../public/images/header_elements/bell.png';
import Cursor from '../../public/images/header_elements/cursor.png';
import Hat from '../../public/images/header_elements/hat.png';
import Keyboard from '../../public/images/header_elements/keyboard.png';
import Sock from '../../public/images/header_elements/sock.png';
import Sleigh from '../../public/images/header_elements/sleigh.png';
import { getPicture } from '@astrojs/image';
import { OutputFormat } from '@astrojs/image/dist/loaders';
// import Orientation from '../../public/images/header_elements/untitled.png'

const formats: OutputFormat[] = ['avif', 'webp'];
const sleighProps = await getPicture({src: Sleigh, formats, widths: [420]});
const presentProps = await getPicture({src: Present, formats, widths: [306]});
const bellProps = await getPicture({src: Bell, formats, widths: [120]});
const cursorProps = await getPicture({src: Cursor, formats, widths: [125]});
const hatProps = await getPicture({src: Hat, formats, widths: [113]});
const keyboardProps = await getPicture({src: Keyboard, formats, widths: [170]});
const sockProps = await getPicture({src: Sock, formats, widths: [190]});

console.log(await sleighProps);
---

<div class="parallax-container">
  <!-- This is just to be able to approximate the layout of the elements -->
  <!-- <Image
		src={Orientation}
		class='sock'
		alt=''
		style='position: absolute; z-index:5; opacity: .3; scale: 1.2; translate: 0% 0%;'
	/> -->
  <div class="header-composition">
	<picture class="sleigh parallax-asset">
		{sleighProps.sources.map(source => <source srcset={source.srcset} type={source.type} />)}
		<Image src={Sleigh} alt="" width={420} loading="eager" />
	</picture>
	<picture class="present parallax-asset">
		{presentProps.sources.map(source => <source srcset={source.srcset} type={source.type} />)}
		<Image src={Present} alt="" height={306} loading="eager" />
	</picture>
	<picture class="bell parallax-asset">
		{bellProps.sources.map(source => <source srcset={source.srcset} type={source.type} />)}
		<Image src={Bell} alt="" height={120} loading="eager" />
	</picture>
	<picture class="cursor parallax-asset">
		{cursorProps.sources.map(source => <source srcset={source.srcset} type={source.type} />)}
		<Image src={Cursor} alt="" height={125} loading="eager" />
	</picture>
	<picture class="hat parallax-asset">
		{hatProps.sources.map(source => <source srcset={source.srcset} type={source.type} />)}
		<Image src={Hat} alt="" height={113} loading="eager" />
	</picture>
	<picture class="keyboard parallax-asset">
		{keyboardProps.sources.map(source => <source srcset={source.srcset} type={source.type} />)}
		<Image src={Keyboard} alt="" height={170} loading="eager" />
	</picture>
	<picture class="sock parallax-asset">
		{sockProps.sources.map(source => <source srcset={source.srcset} type={source.type} />)}
		<Image src={Sock} alt="" height={190} loading="eager" />
	</picture>
  </div>
</div>

<script>
  import { timeline } from 'motion';

  var images = document.querySelectorAll('.parallax-asset img');
  // turn node list 'images' to an array
  var imagesArr = Array.prototype.slice.call(images);

  function checkLoaded() {
    if (imagesArr.every((img) => img.complete)) {
      const sequence = [
        [
          '.parallax-asset',
          { visibility: 'visible', opacity: 1 },
          { duration: 0.6 },
        ],
        ['.sleigh', { opacity: 'calc(1 - var(--scroll) / 2)' }],
      ];
      timeline(sequence);
    }
  }

  checkLoaded();
  imagesArr.forEach((img) => img.addEventListener('load', checkLoaded));

  window.addEventListener('DOMContentLoaded', () => {
    if (window.matchMedia('(prefers-reduced-motion: no-preference)')) {
      if (window.matchMedia('(pointer:fine')) {
        document.addEventListener('mousemove', (event) => {
          document.documentElement.style.setProperty(
            '--mouseX',
            (event.pageX / window.innerWidth - 0.25).toString()
          );
          document.documentElement.style.setProperty(
            '--mouseY',
            (event.pageY / window.innerHeight - 0.25).toString()
          );
        });
      }

      document.addEventListener('scroll', () => {
        document.documentElement.style.setProperty(
          '--scroll',
          (window.scrollY / window.innerHeight).toString()
        );
      });

      // Set initial value or it doesn't work until you scroll
      document.documentElement.style.setProperty('--scroll', '0');
    }
  });
</script>

<style lang="scss">
  @import 'src/styles/mixins.scss';

  .parallax-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
  }

  .parallax-asset {
    opacity: 0;
    visibility: hidden;
  }

  .header-composition {
    // outline: 1px solid red;
    width: 100%;
    margin: auto 0;
    height: 48ch;
    display: block;
    margin: -15%;

    position: relative;
    > * {
      position: absolute;
      pointer-events: none;

      @media (max-width: 640px) {
        scale: 75%;
      }
    }
    .sleigh {
      left: -12vw;
      top: -20%;
      @include headerElementParallax(-0.5);
      filter: blur(calc(var(--scroll) * 4px));
      // opacity: calc(1 - var(--scroll) / 2); //Moved this to timeline
    }
    .present {
      top: 14.5%;
      left: 15%;
      z-index: 1;
      @include headerElementParallax(0.5);
    }
    .bell {
      top: 65%;
      left: 25%;
      @include headerElementParallax(0.25);
    }
    .cursor {
      top: 58%;
      left: 61%;
      z-index: 2;
      @include headerElementParallax(0.8);
    }
    .hat {
      top: 32%;
      left: 64%;
      @include headerElementParallax(0.3);
    }
    .keyboard {
      top: -3%;
      left: 40%;
      @include headerElementParallax(0.6);
    }
    .sock {
      top: 24%;
      left: -2%;
      @include headerElementParallax(0.4);
    }
  }
</style>
