---
import * as prismicH from '@prismicio/helpers';
import { getAllSponsors } from '../lib/prismicio';

const { heading, body } = Astro.props.primary;

const sponsors = await getAllSponsors();

const bodyHTML = prismicH.asHTML(body);
---

<section id="sponsors" class="sponsors">
  <h2>{heading}</h2>

  <Fragment set:html="bodyHTML" />

  <ul class="sponsor-grid">
    {
      sponsors.map((sponsor) => (
        <li class="sponsor">
          <a href={`/sponsor/${sponsor.uid}`}>
            <span class="visually-hidden">{sponsor.data.name}</span>
            <img src={sponsor.data.logo.url} alt={sponsor.data.name} />
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  @layer sections {
    .sponsors {
      > * + * {
        margin-block-start: 1rem;
      }

      .sponsor-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
        grid-gap: 1rem;
      }

      h3 {
        margin-block-start: 3rem;
      }

      .sponsor {
        position: relative;
        background: rgba(0, 0, 0, 0.25);
        padding-block: 0.5rem;
        padding-inline: 1rem;
        display: grid;
        place-content: center;
        transition: background 0.2s ease;
        border-radius: 0.25rem;
        &:hover {
          background: rgba(0, 0, 0, 0.3);
        }
        a {
          &::before {
            content: '';
            position: absolute;
            inset: 0;
          }
        }
        img {
          display: block;
          max-width: 100%;
          padding: 0;
          margin: 0;
          width: auto;
          height: 100px;
          object-fit: contain;
        }
      }
    }
  }
</style>
