---
import * as prismicH from '@prismicio/helpers';
import { getAllSponsors } from '../lib/prismicio';

const { heading, body } = Astro.props.primary;

const allSponsors = await getAllSponsors();
console.log('🚀 ~ file: SponsorList.astro ~ line 9 ~ allSponsors', allSponsors);

const companies = allSponsors.filter((sponsor) => sponsor.data.type === 'Company');

const communities = allSponsors.filter((sponsor) => sponsor.data.type === 'Community');

const bodyHTML = prismicH.asHTML(body);
---

<section id="sponsors" class="sponsors">
  <h2>{heading}</h2>

  <Fragment set:html="bodyHTML" />
  <h3>Companies</h3>
  <ul class="sponsor-grid">
    {
      companies.map((sponsor) => (
        <li class="sponsor">
          <a href={`/sponsor/${sponsor.uid}`}>
            <span class="visually-hidden">{sponsor.data.name}</span>
            <img src={sponsor.data.logo.url} alt={sponsor.data.name} />
          </a>
        </li>
      ))
    }
  </ul>
  <h3>Communities</h3>
  <ul class="sponsor-grid">
    {
      communities.map((sponsor) => (
        <li class="sponsor">
          <a href={`/sponsor/${sponsor.uid}`}>
            <h3 class="visually-hidden">{sponsor.data.name}</h3>
            <img src={sponsor.data.logo.url} alt={sponsor.data.name} />
          </a>
        </li>
      ))
    }
  </ul>
</section>
