---
import * as prismicH from "@prismicio/helpers";
import { getAllSponsors } from "../lib/prismicio";

const { heading, body } = Astro.props.primary;

const sponsors = await getAllSponsors();

const bodyHTML = prismicH.asHTML(body);
---

<section id="sponsors" class="sponsors">
  <h2>{heading}</h2>

  <Fragment set:html="bodyHTML" />

  <ul class="sponsor-grid">
    {
      sponsors.map((sponsor) => (
        <li class="sponsor">
          <a href={`/sponsor/${sponsor.uid}`}>
            <span class="visually-hidden">{sponsor.data.name}</span>
            <img src={sponsor.data.logo.url} alt={sponsor.data.name} />
          </a>
        </li>
      ))
    }
  </ul>
</section>
