---
import * as prismicH from "@prismicio/helpers";
import { getAllSponsors } from "../lib/prismicio";

const { heading, body } = Astro.props.primary;

const allSponsors = await getAllSponsors();
console.log("🚀 ~ file: SponsorList.astro ~ line 9 ~ allSponsors", allSponsors);

const companies = allSponsors.filter(
  (sponsor) => sponsor.data.type === "Company"
);

const communities = allSponsors.filter(
  (sponsor) => sponsor.data.type === "Community"
);

const bodyHTML = prismicH.asHTML(body);
---

<section class="sponsors">
  <h2>{heading}</h2>

  <Fragment set:html="bodyHTML" />

  <h3>Companies</h3>
  <div>
    {
      companies.map((sponsor) => (
        <div>
          <a href={`/sponsor/${sponsor.uid}`}>
            <span class="sr-only">{sponsor.data.name}</span>
            <img src={sponsor.data.logo.url} alt={sponsor.data.name} />
          </a>
        </div>
      ))
    }
  </div>

  <h3>Communities</h3>
  <div>
    {
      communities.map((sponsor) => (
        <div>
          <a href={`/sponsor/${sponsor.uid}`}>
            <h3 class="sr-only">{sponsor.data.name}</h3>
            <img src={sponsor.data.logo.url} alt={sponsor.data.name} />
          </a>
        </div>
      ))
    }
  </div>
</section>

<style>
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
</style>
