---
import * as prismicH from "@prismicio/helpers";
import Layout from "../../layouts/Layout.astro";
import SliceZone from "../../components/SliceZone.astro";
import { getAllGuests } from "../../lib/prismicio";
import GuestAvatar from "../../components/GuestAvatar.astro";

export async function getStaticPaths() {
  const allPages = await getAllGuests();
  const paths = allPages.map((page) => ({
    params: { uid: page.uid },
    props: page,
  }));
  return paths;
}

const {
  name,
  avatar,
  jobTitle,
  company,
  guestBio,
  twitterUrl,
  websiteUrl,
  mastadonUrl,
  topicTitle,
  topicDescription,
} = Astro.props.data;

const guestBioHTML = prismicH.asHTML(guestBio);
const topicDescriptionHTML = prismicH.asHTML(topicDescription);
---

<Layout title={`${name} - Guest Speaker - Holiday Snowtacular`}>
  <main id="guest-page">
    <h1>{name}</h1>
    <GuestAvatar avatar={avatar} guestName={name} />
    <div class="guest-details">
      <span>{jobTitle}</span>
      <span>{company}</span>
    </div>
    <dl>
      <dt>Bio</dt>
      <dd>
        <Fragment set:html="guestBioHTML" />
      </dd>
      <dt>Topic</dt>
      <dd>{topicTitle}</dd>
      <dd>
        <Fragment set:html="topicDescriptionHTML" />
      </dd>
    </dl>
  </main>
</Layout>

<style>
  #guest-page {
    --container-width: 60ch;

    margin-inline: auto;
    width: min(var(--container-width), 100% - 3rem);
    > * {
      margin: 0;
    }
    > * + * {
      margin-block-start: 1.5rem;
    }
    h1 {
      text-align: center;
    }

    .guest-details {
      display: flex;
      flex-flow: column;
      align-items: center;
      span:last-child {
        color: var(--accent);
      }
    }

    dl {
      background: rgba(0, 0, 0, 0.25);
      padding-inline: 1rem;
      padding-block: 0.5rem;
      border-radius: 0.25rem;
      dt {
        font-size: var(--step-1);
        font-family: var(--header-font);
        color: var(--accent);
        margin-block-start: 1.5rem;
      }
      dt:first-child {
        margin-block-start: 0;
      }
      dd {
        margin-block-start: 1rem;
      }
    }
  }
</style>
