---
import * as prismicH from '@prismicio/helpers';
import Layout from '../../layouts/Layout.astro';
import SliceZone from '../../components/SliceZone.astro';
import { getAllGuests } from '../../lib/prismicio';
import GuestAvatar from '../../components/GuestAvatar.astro';

export async function getStaticPaths() {
  const allPages = await getAllGuests();
  const paths = allPages.map((page) => ({
    params: { uid: page.uid },
    props: page,
  }));
  return paths;
}

const {
  name,
  avatar,
  jobTitle,
  company,
  guestBio,
  twitterUrl,
  websiteUrl,
  mastadonUrl,
  topicTitle,
  topicDescription,
} = Astro.props.data;

const guestBioHTML = prismicH.asHTML(guestBio);
const topicDescriptionHTML = prismicH.asHTML(topicDescription);
---

<Layout title={`${name} - Guest Speaker - Holiday Snowtacular`}>
  <article id="guest-page">
    <header>
      <GuestAvatar avatar={avatar} guestName={name} />
      <h1>{name}</h1>
    </header>
    <div>
      <div class="guest-details">
        <span>{jobTitle}</span>
        <span>{company}</span>
      </div>
      <dl>
        <dt>Bio</dt>
        <dd>
          <Fragment set:html="guestBioHTML" />
        </dd>
        <dt>Topic</dt>
        <dd>{topicTitle}</dd>
        <dd>
          <Fragment set:html="topicDescriptionHTML" />
        </dd>
      </dl>
    </div>
  </article>
</Layout>

<style>
  #guest-page {
    --container-width: 60ch;

    margin-inline: auto;
    padding-block-start: var(--space-l-xl);
    width: min(var(--container-width), 100% - var(--space-l));
  }

  h1 {
    text-align: center;
    margin-bottom: var(--space-s);
  }

  .guest-details {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: var(--space-2xs);
    span:last-child {
      color: var(--header-font-color);
    }
  }

  dl {
    background: var(--box-color);
    padding-inline: var(--space-m);
    padding-block: var(--space-s);
    border-radius: 0.5rem;
    margin-top: var(--space-m);
  }
  dt {
    font-size: var(--step-1);
    font-family: var(--header-font);
    color: var(--header-font-color);
    margin-block-start: var(--space-s-m);
  }
  dt:first-child {
    margin-block-start: 0;
  }
  dd {
    margin-block-start: var(--space-s);
  }
</style>
